*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

nav {
  background: lightslategrey;
  position: fixed;
  width: 100%;
  top: 0;
  /* opacity: .5; */
}

h2 {
  font-size: 2rem;
}

section {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center center;

}

.container {
  /* width: 80%; */
  max-width: 800px;
  margin: 0 auto;
}


ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

li {
  padding: 1rem;
}

#home {
  background: coral;
}

#about {
  background: lightgreen;
}

#contact {
  background: lightcyan;
}

#footer {
  background: lightpink;
}

li.active {
  background: red;
  transition: .3s all linear;
}

li.active-start {
  background: red;
  transition: .3s all linear;
}

li.active a {
  color: #fff;
}